.menu-div {
    background-color: white !important;
    height: 100%;
}

.menu-items-section {
    padding-top: 30px;
}

.menu-items-section-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.linguini {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
}

.disbaled{
    opacity: 75%;
    cursor: not-allowed;
}

.text-menu{
    position: absolute;
    right: 20px;
}